{%extends "AppCoder/padre.html"%}
{%load static%}
{%block contenidoQueCambia%}



<center><div class="card text-center">
    <div class="card-header">
        <h3>Casilla de Mail</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">mymba.ayuda.animal@hotmail.com</h5>
      <p class="card-text"><li class="list-inline-item me-4">
        <a href="https://www.facebook.com/mymba.animalis.1"><i class="bi-facebook fs-3"></i></a>
    </li></p>
    </div>
  </div>
</center>

{%endblock%}