{%extends "AppCoder/padre.html"%}
{%load static%}
{%block contenidoQueCambia%}


    <center><div class="card mb-3" style="max-width: 1000px;">
        <div class="row no-gutters">
            <div class="card-body">
                 <h5 class="card-title "> Historia </h5>
                    <p class="card-text"> Mymba inicio para ponerle nombre a un grupo de mujeres de Córdoba Capital(Argentina) que se reunieron para rescatar a Candy, una perra salvaje preñada perteneciente a una manada compuesta por 4 machos (El Viejo, Seba, El Alpha y Oreja).
                Candy tuvo varias camadas dentro del predio del Hospital de Transito en B° Pueyrredón, a los cuales se les busco hogar. 
                <p>Tras varios intentos fallidos de atraparla, Cady parió nuevamente en dicho predio. Teniendo en cuenta que era una manada salvaje y nómade, nos permitieron acercanos a sus cachorros y asi fueron asistidos y dados en adopción resposable. 
                </p> Los intentos de atraparla continuaron hasta que lamentablemente tras una enfermedad y no poder ser medicados como indicaba el tratamiento, ella falleció. A dos de los miembros de la manada se los vio un par de veces mas por la zona, hasta que ya no hubo mas aviso de sus presencias. 
                <p>Candy y su manada unió a un grupo de mujeres que más allá de no poder haberlos salvado, continuaron ayudando y rescatando otros animales.</p>
                <p>Lamentablemente estas situaciones como la sobre población, el maltrato, accidentes y explotacion animal son muy corrientes en lugares donde no se aplican politicas publicas enfocadas a los derechos de los animales y donde hay ausencia de educacion respecto a la tenencia responsable de mascotas.</p>
                <p>Queremos agradecer a todas las personas que se suman y aportan su granito de arena para ayudar a los animales.♥ </p>
            </div>
        </div>
    </div></center>
    
{%endblock%}