{%extends "AppCoder/padre.html"%}
{%load static%}
{%block contenidoQueCambia%}

<center>
    <div class="card mb-3" style="max-width: 800px;">
        <div class="row no-gutters">
            <div class="card-body">
                    <p class="card-text"><p align ="justify"> 
                        <font color="#7966C7" size="3" face="arial">Hola!
                            Soy Daviana Saavedra, autora de esta web. 
                            <br>
                            Estudiante del profesorado de la carrera de Artes Visuales y 
                            ahora empezando a conocer el mundo de la programación. Me dedico a dar clases de dibujo, realizar
                            trabajos de ilustración, conceptart y diseño gráfico.
                            Se podria decir que soy activista, me dedico a el rescate y proteccionismo de animales, como también a la concientización de los derechos de los mismos.
                            <br>
                            <h3>CONTACTO & REDES:</h3>
                            
                            <li class="list-inline-item"></li><a href="https://www.linkedin.com/in/daviana-saavedra-xseres/" target="_blank"><h5>Linkedin</h5></li>
                                <br>
                           
                            <iframe width="320" height="500" src="https://www.instagram.com/p/CmZEhUoOAO8/embed" frameborder="0"></iframe>
                            <iframe width="400" height="500" src="https://www.instagram.com/p/CjGTbOLO_fB/embed" frameborder="0"></iframe>
                        </font>
                    
                    </p>
            </div>
        </div>


    </div>
</center>
    
    


{%endblock%}